<div id="currentProfile">
    Who are you (temp helper)? <input ng-model="currentProfileUri" size="100"/>
</div>
<div id="search">
    <div id="add">+</div>
    <input type="text" placeholder="Search your contacts" ng-model="searchContactText"/>
    <button type="submit" class="fontawesome-ok"></button>
</div>
<div id="actionNeeded">Action needed</div>
<div class="contacts clearfix">
    <ul class="clearfix">

        <li class="contact clearfix float-left" ng-repeat="relationshipPg in relationshipPgs | filter:searchContactText">
            <div class="loader"></div>
            <div class="picture float-right">
                <a href="" ng-click="changeCurrentProfileUri(relationshipPg.subject)">
                    <img ng-src="{{ relationshipPg | predicateIn:['foaf:img','foaf:depiction'] }}" src="img/avatar.png" alt="Picture"/>
                </a>
            </div>
            <div class="basic">
                <div class="name title-case">{{ relationshipPg | predicateIn:['foaf:name','foaf:nick','foaf:givenName'] }}</div>
                <div class="surname title-case">{{ relationshipPg | predicate:'foaf:nick' }}</div>
                <div class="company">{{ 'TodoCompany' }}</div>
            </div>
            <div class="notifications">
                <div class="newMessages float-left">{{ relationshipPg.graph.toArray().length }}</div>
                <div class="recentInteractions float-left">10</div>
                <div class="updates float-left">4</div>
            </div>
            <div class="moreInfo">
                <div class="lastInteraction">Last message from Edward: <span>three days ago</span></div>
                <div class="message">Hey, how was the play? I hope you enjoyed it. Let's talk about it this week...</div>
                <div class="nextStep"><a href="{{ relationshipPg.subject }}">Write back</a></div>
            </div>
        </li>

    </ul>
</div>