<p>FOAF profile: <input ng-model="currentProfileUri" size="100"/></p>


<foaf-person person-model="person" on-person-click="changeCurrentProfileUri(person.uri)"></foaf-person>

<br/>

<div style="clear:both;">
    <div style="float:left; border:solid;" class="profileRelationship" ng-repeat="relationship in relationships">
        <foaf-person person-model="relationship" on-person-click="changeCurrentProfileUri(relationship.uri)"></foaf-person>
    </div>
</div>

<!--
<div style="clear:both;">
    <br/>
    <br/>
    <br/>
    <h2>Error log:</h2>
    <div ng-repeat="log in errorLogs">
        {{log}}<br/>
    </div>
</div>
-->


<div style="clear:both;">
    <h2>Mode edition:</h2>
    <div style="clear:both;">
        Name: <input ng-model="personPG" rdf-predicate-binding="foaf:name"></input><br/>
        Given name: <input ng-model="personPG" rdf-predicate-binding="foaf:givenName"></input><br/>
        Family name: <input ng-model="personPG" rdf-predicate-binding="foaf:familyName"></input><br/>
        Img: <input ng-model="personPG" rdf-predicate-binding="foaf:img"></input><br/>
        Nick: <input ng-model="personPG" rdf-predicate-binding="foaf:nick"></input><br/>
        Mbox: <input ng-model="personPG" rdf-predicate-binding="foaf:mbox"></input><br/>
        Homepage: <input ng-model="personPG" rdf-predicate-binding="foaf:homepage"></input><br/>
    </div>
</div>

<div style="clear:both;">
    <h2>Turtle output:</h2>
    <div style="clear:both;">
        {{personPG.graph.toNT()}}
    </div>
</div>